*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    width: 100%;
    background-color: black;
    height: 2000px;
    margin: 0;
    padding: 0;
}
/* ==== Header ==== */
header .bg-gradiente {
    min-height: 90px;
    width: 100%;
    
}
header .header-border{
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(90deg, rgba(29, 115, 115, 0.00) -0.94%, rgba(0, 0, 0, 0.00) 50%), linear-gradient(180deg, rgba(16, 115, 97, 0.25) 0%, rgba(29, 115, 115, 0.99) 49.48%, rgba(29, 115, 115, 0.37) 100%);
}
header #menu {
    flex: 1;
}
header .menu1{
    list-style:none;
    position: relative;
    top: 10%;    
 
}

/* ==== Cria menu Sanduiche ==== */
header .menu1 li a{
    display:block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1em;
    text-shadow: #05503798 1px 1px 1px;
}
header .menu1 li a:hover{

color:#023c29;
text-shadow:0px 0px 1px #ffffffec;
}
header .menu1 li  ul{
    position:absolute;
    top:20px;
    left:40px;
    display:none;
    background-color: rgb(197, 230, 218);

}

header .menu1 li:hover ul, .menu li.over ul{
    display:block;
}

header .menu li ul li{
    display:block;
    width:150px;
}

/* ==== contatos ==== */
header #contato {
    display: flex;
    padding: 10px;
    color: #ffffff8e;
    font-size: 1.2em;
    margin-top: 15px;
    margin-right: 20px;
    
}
header #contato img{
    
    margin-right: 5px;
    

}
/*===== Div header Logotipo =====*/
.cab1{
    width: 22%;
    height: 300px;
    float: left;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.cab1 div{
    margin: 10%;
}
/*===== Div header Titulo =====*/
.cab2{
    width: 56%;
    height: 300px;
    float: left;
    
}
.titulo{
    font-size: 6.5em;
    text-align: center;
    font-family: Keania One;
    margin-left: 0;
    margin: 4%;
    background-image: linear-gradient(to top,#040e0ec2,#279f9f8e, #3cf8f8e1);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   

}
.subtitulo{
    text-align: center;
    font-size: 2em;
    font-family: Keania One;
    margin: 2%;
    background-image: linear-gradient(to top,#040e0ec2,#279f9f8e, #3cf8f8e1);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


/* ===== Div header contato ===== */
.cab3 {
    float: left;
    display: flex;
    width: 22%;
    height: 300px;
    justify-content: center;/*Alinha na horizontal*/
    align-items: center; /*flex-end | flex-start | strecth | center */
    align-content: center;
    flex-wrap: wrap;
}
.cab3 div {
    height: 100px;
}
.cab3 img {
    float: left;
    margin: 10px;
} 

.fgratis{
    color: rgba(255, 255, 255, 0.651);
    background-color: #279f9f80;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    margin: 10%;
    align-items: center;
    
}
.fgratis p{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
}
.fgratis h1{
    font-size: 3em;
    margin: 0;
}

/* ===== Barra Menu Pesquisa ===== */
.barramenu{
    clear: both;
    max-width:100%;
    height: 90px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(90deg, rgba(29, 115, 115, 0.00) -0.94%, rgba(0, 0, 0, 0.00) 50%), linear-gradient(180deg, rgba(16, 115, 97, 0.25) 0%, rgba(29, 115, 115, 0.99) 49.48%, rgba(29, 115, 115, 0.37) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
   
    

   
}/* ==== campo de pesquisa ==== */
.barramenu input{
    width: 600px;
    height: 50px;
    padding: 0.7em;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 5px;
    margin-left: 50px;
    

}
.barramenu button img {
    background: none;
    margin-left: 10px;
}





/*===== Main Papel de parede ===== */
main{
    
    max-width: 100%;
    background-image: url(../imagens/pexels-blaque-x-932638.jpg);
    background-size: cover;
    background-position: center;

}
/* ==== Section ==== */
section {
    clear: both;
    height: 1350px;
    background-color: white;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    
}
article {
    width: 95%;
    height: 650px;
    background-color: rgb(161, 160, 160);
    margin: 15px;
}







/*===== Footer =====*/
footer{
    
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.573) 100%), linear-gradient(90deg, rgba(29, 115, 115, 0.00) -0.94%, rgba(0, 0, 0, 0.00) 49.47%), linear-gradient(180deg, rgba(16, 115, 97, 0.218) 0%, rgba(29, 115, 115, 0.99) 38.02%);
    color: #ffffff8e;
    
        
}
.footerheader {
    color: #279f9f80;
    font-family: Keania One;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
   
    padding: 20px;
    margin: 20px;
    
}

.finput {
    
    margin-top: 30px;
    border-radius: 10px;
    
}

.footermain {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
ul {
    list-style: none;
    font-weight: bold;
}
.footer01 {
    width: 30%;

}
.footer01 h2 {
    margin-left: 13%;
}
li {
    margin: 20px;
    
}
li p {
    margin: -5px;
}

.footer02 {
    width: 40%;
}
.footer02 div {
    text-align: center;
}
/* === Formulário Footer === */
#register {
    
    width: 80%;
    height: 300px;
    max-width: 350px;
    margin: auto;
    text-align: center;
   
}

#register p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    
}
#register .field{
    width: 100%;
    margin-bottom: 20px;
}
#register input {
    width: 100%;
    padding: 0.7em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#register input[type=radio]{
    width: 25px;
}
#register button {
    width: 100%;
    border: none;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.573) 100%), linear-gradient(90deg, rgba(29, 115, 115, 0.00) -0.94%, rgba(0, 0, 0, 0.00) 49.47%), linear-gradient(180deg, rgba(16, 115, 97, 0.218) 0%, rgba(29, 115, 115, 0.99) 38.02%);
    color: #fff;
    padding: 0.75em;
    font-size: 1.2em;

}

.footer03 {
    width: 30%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
}
.footer03 h2 {
    margin-bottom: 20px;
}
.footer03 p {
    margin-bottom: 20px;
}
.boxmap {
    width: 85%;
    height: 180px;
    background-color: white;
    position: relative;
    margin-bottom: 5%;
    
    
}
.boxmap iframe{
    width: 100%;
    height: 100%;
}
.rodape {
    text-align: center;
}

@media(max-width:900px){
    .titulo{
        font-size: 3.5em;
    }
    .subtitulo{
        text-align: center;
        font-size: 1em;
    }
    header .bg-gradiente {
        min-height: 45px;
        width: 100%;
    }
    header #contato {
        display: none;
    }

    .cab1{
        display: none;
        height: 150px;
        margin: 0;
    }
    .cab2{
        height: 150px;
        width: 90%;
    }
    .cab3{
        display: none;
        height: 150px;
        width: 0;
        margin: 0;
    }
    .barramenu input{
        width: 300px;
        height: 30px;
        padding: 0.7em;
        border-radius: 5px;
        font-size: .5em;
        margin: 5px;
        margin-left: 50px;
    }
    .footermain {
        display: flex;
        flex-direction: column;
        
    
    }
    .footer01 {
        width: 100%;
    }.footer02 {
        width: 100%;
    }
    .footer03 {
        width: 100%;
    }
  
}